*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
}

.heading_style{
  padding: 30px 0;
  text-align: center;
  font-family: 'Raleway', sans-serif ;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.slot_inner{
  text-align: center;
}
