div{
  width: 100%;
  height: 100vh;
  background: #8e44ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  font-size: 50px;
  padding: 12px 20px;
  color: white;
  border-radius: 30px;
  border: 2px solid #ecf0f1;
  background-color: #9b59b6;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}